#ignore all .pyc
*.pyc
#ignore settings.py
pvapp/settings.py
#ignore uploads
uploads/
#ignore migrations
migrations/
#ignore .swp so vim can be used simultaneously
*.swp
#ignore virtualenv
venv/
#ignore uploads folder
pvapp/static/submissions/
