body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #444;
}

/* Set display:none for CRSF cookie */
label[for="newmember-csrf_token"], label[for="firstmember-csrf_token"] {
  display:none;
}
