body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #444;
}

/* Set display:none for CRSF cookie */
label[for="newmember-csrf_token"], label[for="firstmember-csrf_token"] {
  display:none;
}

form.navbar-right, ul.navbar-right.navbar-nav {
  margin-right: 15px!important;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

img.sponsorpic, .mentorship, img.mentorpic {
  width:100%;
}

.mentorpic-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.sponsorpic-container {
  height: 100px;
}


img.mentorpic {
  position: absolute;
  height:100%;
}

.pastwinnerpic-container {
  width: 100%;
}

img.pastwinnerpic {
  width: 100%;
}

.mentorname, .mentorbio {
  text-align: center;
}

#home, #about, #pastfinalists, #mentors {
  padding-top:60px;
  margin-top: -60px;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sponsors, #frequentlyasked {
  padding-top:60px;
  margin-top: -60px;
}

#home, #pastfinalists {
  height:1000px;
}

#pastfinalists {
  height: 1750px;
}

#about {
  height: 2100px;
}

#home {
  background-position: 0px -75px;
  padding-top: 50px;
  margin-top:-10px;
}
#about {
  position:relative;
}

#pastfinalists {
  position:relative;
} 

.jumbotron {
  margin-top: -50px;
  background: rgba(255, 255, 255, 0.9);
  text-align:center;
}

.frontpagedesc, .frontpageheader {
  text-align: center;
}

.frontpagewrapper {
  margin-bottom:50px;
}

.past, .mentorship {
  color: white;
  background-color: rgba(0,0,0,0.7);
}

.howitworks {
  margin-bottom: 150px;
}

.past {
  margin-bottom: 150px;
}

#process {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 0;
  padding-top:5%;
  padding-bottom:40%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

#twitter-widget-0 {
  margin-top: 12px;
}

.navbar-brand {
  font-weight: 900;
  font-size:24px;
}

#pv-title {
  color: #18bc9c;
}

#pv-title-white, #pv-title-white:hover {
  color: white;
}
