{% extends "layoutbase.html" %}
{% block template %}
 
  <section id="home" data-type="background" style="background-image:url('{{url_for('static', filename="img/home-bg.jpg")}}')" data-speed="10"> 
      <div class="jumbotron">
        <div class="container">
           <h1>Bring your own idea.</h1>
           <p> $20,000 in prizes. Incredible mentors. Engineering resources to develop your product. </p>
           <p> Bring a solid idea and team, and we'll help you with the rest.</p>
           <p><a href="{{url_for('register')}}" class="btn btn-primary btn-lg">REGISTER/LOGIN</a>&nbsp; &nbsp;<a href="#about" class="btn btn-primary btn-lg">HOW IT WORKS</a></p>
        </div>
      </div>
  </section> 
  
  <section id="about" data-type="background" style="background-image:url('{{url_for('static', filename="img/sky.jpg")}}')" data-speed="10">
    <div class="container">
      <div class="frontpagewrapper">
        <h1 class="frontpageheader"> How it Works </h1>
        <h4 class="frontpagedesc"> Build the next big thing in tech. The sky really is the limit. </h4>
      </div>
    </div>
    <div class="container howitworks">
      <div id="process" style="background-image:url('{{url_for('static', filename="img/pv_process.png")}}')" > 
      </div>	
    </div>
    <div class="container" id="frequentlyasked">
      <div class="frontpagewrapper">
        <h1 class="frontpageheader"> Frequently Asked Questions</h1>
      </div>
      {% for faq in faqs %}
        <h4><b> {{ faq.question }} </b></h4>
        <h4> {{ faq.answer }} </h4>
        <hr>
      {% endfor %}
    </div>
  </section> 

<section id="pastfinalists" data-type="background" style="background-image:url('{{url_for('static', filename="img/penngineering.jpg")}}')" data-speed="10">
  <div class="container past">
    <div class="frontpagewrapper">
      <h1 class="frontpageheader"> Past Finalists</h1>
      <h4 class="frontpagedesc"> These teams developed incredible products. You can too.</h4>
    </div><!-- .container .past -->
 {% if pastwinners %}
    <div class="row">
 {% for pastwinner in pastwinners %}
      <div class="mentor col-md-4 col-sm-6">
        <div class="pastwinnerpic-container">
          <img class="pastwinnerpic" src='{{url_for('static', filename=pastwinner.photo)}}'> </img>
        </div><!-- .pastwinnerpic-container-->
        <h3 class="mentorname"> {{pastwinner.projectname}} </b></h3>
        <p class="mentorbio"> {{pastwinner.info}}</p>
      </div><!-- .mentor .col-md-4 .col-sm-6 -->
 {% endfor %}
    </div><!-- .row -->
 {% endif %}
  </div>
  <div class="container mentorship">
    <div class="frontpagewrapper" id="mentors">
      <h1 class="frontpageheader"> Past Mentors </h1>
      <h4 class="frontpagedesc"> These distinguished mentors have worked to help teams develop their products.</h4>
    </div><!-- .frontpage wrapper #mentors -->
 {% if mentors %}
    <div class="row">
 {% for mentor in mentors %}
      <div class="mentor col-md-3 col-sm-6">
        <div class="mentorpic-container">
          <img class="mentorpic" src='{{url_for('static', filename=mentor.photo)}}'> </img>
        </div>
        <h3 class="mentorname"> {{mentor.name}} </b></h3>
        <p class="mentorbio"> {{mentor.position}}, {{mentor.organization}} </p>
      </div>
 {% endfor %}
    </div><!-- .row -->
 {% endif %}
  </div><!-- .container mentorship -->
</section> 

  <section id="sponsors" data-type="background" data-speed="10">
  </section> 
{% endblock %}
