{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2> Welcome, {{ j.name }}.</h2>
    New to judging? Read the <a href="{{ url_for('static', filename="Judging_PV.pdf") }}">judging rubic worksheet</a> to help guide you through the process. 
    {% if j.reviewing %}
    <ul>
      {% for p in j.reviewing %}
        {% if p.phaseone %}
          <li>{{ p.projectname }} <a href="{{ url_for('judge_project', project_id=p.id)}}">Judge Project</a></li>
        {% endif %}
      {% endfor %}
    </ul> 
    {% endif %}
  </div>
{% endblock %}
