<!DOCTYPE html>
<html>
  <head>
    <title>Pennvention</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/flatly/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
   
    <header>
      <div class="container">
        <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}">Pennvention</a>
          </div><!-- .navbar-header -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('contact') }}">Contact</a></li>
              {% if 'project' in session %}
              <li><a href="{{ url_for('profile') }}">Profile</a></li>
              <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
              {% else %}
	            <li><a href="{{ url_for('register') }}">Register</a></li>
              <li><a href="{{ url_for('signin') }}">Sign In</a></li>
              {% endif %}
              {% if 'project' in session %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>
                <ul class="dropdown-menu">
 	                  <li><a href="{{ url_for('addmember') }}">Add Member</a></li>
                    <li><a href="{{ url_for('phaseone') }}">Round 1 Submission</a></li>
                </ul>
              </li>
              {% else %}
              {% endif %}
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>
    </header>
   
  <div class="container">
    <div class="row">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="col-md-8 col-md-offset-2">
          {% for message in messages %}
            <div class="alert alert-info fade in"><button class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</button>{{ message }}</div>
          {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <div class="col-md-8 col-md-offset-2">
        {% block content %}
        {% endblock %}
      </div><!-- .col-md-8 .col-md-offset-2 -->
    </div><!-- .row --> 
  </div><!-- .container -->
     
  </body>
</html>
