{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>{{ p.projectname }}</h2>
    <h3>Description</h3>
    <p>{{ p.description }} </p>
    <h3>Members</h3>
    <ul>
	{% for member in members %}
        <li>{{ member.name }}, 
            {{ (member.education)|join(", ") }}
        </li>
	{% endfor %}
    </ul> 
    <h3>Uploads</h3>
    {% if p.phaseone %}
    <p><a href="{{ url_for('uploads', filename=p.phaseone)}}">{{ p.phaseone }}</a></p>
    {% else %}
    <p><a href="{{ url_for('phaseone')}}">Submit your Round 1 Presentation</a></p>
    {% endif %}
  </div>
{% endblock %}
